<!DOCTYPE html>
<head>
  {% load static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Site</title>
</head>
<body>



<div align="center" style="padding-bottom: 30px; padding-top: 30px;">
	<h1 class="display-2"> Stock Search</h1>
	<small id="help" class="form-text text-muted ">Currently only support APPL, CSCO, INTC, and MSFT.</small>	
</div>
<div align="center" style="padding-bottom: 30px; padding-top: 10px;">
	{% if error %}
	<small id="help" class="form-text text-danger"> Input invalid. Please check your input again.</small>	
	{% endif %}
</div>

<div align="center"> 

	<div class="col-sm-4">
		<form action="" method="post">
		{% csrf_token %}
		  <div class="form-group row" >
		    <label for="stock_symbol" class="col-sm-3 col-form-label">Code</label>
		    <div class="col-sm-6">
		    	<input type="text" class="form-control" name="stock_symbol" placeholder="code" required="required" value={{ code_name }}>
		    </div>
		    			    
		  </div>

		  <div class="form-group row" >
		    <label for="start_date" class="col-sm-3 col-form-label">Start Date</label>
		     <div class="col-sm-6">
		    	<input type="text" class="form-control" name="start_date" placeholder="DD/MM/YY" required="required" value={{start_date}}>
		    </div>
		  </div>

		  <div class="form-group row" >
		    <label for="end_date" class="col-sm-3 col-form-label">End Date</label>
		    <div class="col-sm-6">
		    	<input type="text" class="form-control" name="end_date" placeholder="DD/MM/YY" required="required" value={{end_date}}>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Check</button>
		</form>		
	</div>


	<div align="center" style="height: 500px; width: 900px; padding-bottom: 35px; padding-top: 35px;" >
		<canvas id="myChart" align="center" style="margin: 0 auto" ></canvas>
		<script>
		{% if labels %}
			{% autoescape off %}
			point_labels = {{ labels }};
			point_data = {{ prices }};
			max_profit_point = {{ max_profit_point }};
			{% endautoescape %}
		{% else %}
		    point_labels = [];
			point_data = [12];
			max_profit_point = []];
		{% endif %}	


		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		    	labels: point_labels,
		        datasets: [
		        {
		            label: "max_profit",
		            borderColor: 'rgb(244, 65, 65)',
		            backgroundColor: 'rgb(244, 65, 65)',
		            fill: false,
		            data: max_profit_point
		        },{
		        	label: 'close_price',
		            data: point_data,
		            backgroundColor: 'rgb(66, 194, 244)',
		            borderColor: 'rgb(66, 194, 244)',
		            fill: false

		        	}]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:false
		                }
		            }]
		        },
		        elements: {
		            line: {
		                tension: 0, // disables bezier curves
		            },
		            point:{
                        radius: 0
                    }
		        },
		        maintainAspectRatio: false,
		    }
		});
		</script>
<!-- 		{% if latest_question_list %}
	    <ul>
	    {% for stock in latest_question_list %}
	        <li>{{ stock.stock_symbol }}.{{ stock.close_price }}. {{ stock.date }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
 -->
	</div>
</div>


</body>
</html>






